.Main_Text{
  text-align: center;
  padding-top: 30px;
  color: white;
  width: 200px;
  height: 210px;
  font-family: "William",sans-serif;
  background-color: black;
}

.Old_logo{
  float: left;
  padding-left: 20px;
  padding-top: 10px;
}

.New_logo{
  float: right;
  padding-top: 10px;
  padding-right: 20px;
}

.DarkSmth{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}


p{
  text-align: center;
  font-size: 20px;
}

img{
  width: 550px;
}
